@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Mont-B';
    src: url('../Fonts/Montserrat/Montserrat-Black.ttf')format("woff");
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}

body{
    background: linear-gradient(to bottom right, #011627 32%, #011627);
    height: 100vh;
    /* width: 1440px; */
}

/*---------------------------------------HEADER---------------------------------------*/

#header{
    font-weight: 600;

    height: 10%;
    padding: 0 10%;

    display: flex;
    align-items: center;
    justify-content: space-between;


    border-bottom: 2px #ffffff5c solid;


}

.nav{
    width: 50%;

    position: relative;
    display: flex;
    justify-content: space-between;



}
.nav__element, .home__link{
    color: #ffffff;
    text-decoration: none;

    padding: 0 5px;

    &:hover{
        color: #080C25;
        background-color: #FFFFFF;
    }
}

/*------------------------------------------MAIN------------------------------------------*/

#main{

    height: 80%;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 8%;
    
}

.main__title{
    font-size: 50px;
    border-bottom: #FFFFFF solid 5px;
    padding-bottom: 0.5%;
}

.main__contacto{
    height: 80%;
    display: flex;
    gap: 10%;
}

.contacto__text{
    display: flex;
    width: 40%;
    gap: 10%;
}

.text__datos{
    display: flex;
    flex-direction: column;
}
.dato__item{
    display: flex;
    align-items: center;
}

.item__link{
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5%;
    font-size: 21px;
    font-weight: 300;
}




/*-----------------------------------------FOOTER-----------------------------------------*/


#footer{
    height: 10%;
    border-top: 2px #ffffff5c solid;
    display: flex;
    padding: 0 8%;
    justify-content: space-between;
    align-items: center;

}

.info{
    width: 862px;
    display: flex;
    justify-content:space-between;

}
.social{
    width: 181px;
    display: flex;
    justify-content:space-between;
    gap: 10%;

}

.option{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 15px;
    width: 160px;
    text-align: center;

}

.social__option{
    width: auto;
}


 @media screen and (min-width:1441px){
    body{
        height: 100vh;
        width: 100vw;

    }
    .info{
        width: 70%;
    }
    .social{
        width: 30%;
        display: flex;
        justify-content:flex-end;
    }
    .section-1{
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1%;
    }

    .section-2{
        width: 35%;
        background-color: rgb(193, 141, 72);
        display: flex;
        align-items: end;
    }
}





