@font-face {
    font-family: 'Bebas N';
    src: url('../Fonts/Bebas_Neue/BebasNeue-Regular.ttf')format("woff");
}
@font-face {
    font-family: 'Mont-R';
    src: url('../Fonts/Montserrat/Montserrat-Light.ttf')format("woff");
}
@font-face {
    font-family: 'Mont-B';
    src: url('../Fonts/Montserrat/Montserrat-Bold.ttf')format("woff");
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0A0501;
        height: 900px;
        width: 1440px;

    background-image: url(../Images/Degrade.svg);
    background-repeat: no-repeat;

}

#header{
    background-color: #FFFFFF;
    height: 10%;
    display: flex;
    padding: 0 10%;
}

.nav{
    position: relative;
    margin: auto;
    width: 100%;


    display: flex;
    justify-content: center;
    gap: 23%;

}
.nav__element{
    color: #0A0501;
    text-decoration: none;
    font-family: 'Mont-B';
}

#main{
    height: 80%;

    color: #FFFFFF;


    display: grid;
    grid-template-areas:
        "section-1 section-2"
        "section-1 section-2"
        "section-3 section-3";

    grid-template-rows: 1fr 1fr; /* Altura fija para las filas */
    grid-template-columns: 1fr 1fr;

}

.section-1{
    grid-area: section-1;
    background-color: #0A0501;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 0;

}

/* .category{
    height: 100%;


    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;


}

.category__element{
    color: #FFFFFF;
    font-family: 'Bebas N';
    text-decoration: none;
    font-size: 89px;
}

.category__element--actived{
    border-top: solid 2px #FFFFFF;
    border-bottom: solid 2px #FFFFFF;
} */


.section-2{
    grid-area: section-2;
    height: auto;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Opcional: evita que el contenido desborde */
    padding: 10% 0;
}

.proyects{
    background-color: #0a050182;
    height: 100%;
    width: 614px;
    padding: 5%;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 5px; 
        height: 12px;
    }
    &::-webkit-scrollbar-thumb {
        background: #271609; /* Color del pulgar (thumb) */
        border-radius: 15px; /* Bordes redondeados */
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #0a0501; /* Color al pasar el mouse */
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1d3; /* Color de la pista */
        border-radius: 15px;
    }
}

.proyects__list{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: end;
    gap: 5%;
    


}

.list__item{
    font-family: 'Mont-R';
    font-size: 34px;
}


.category{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 5px;
}

.category__element{
    color: #FFFFFF;
    font-family: 'Bebas N';
    text-decoration: none;
    font-size: 30px;
}

/* .category__element--actived{
    border-top: solid 2px #FFFFFF;
    border-bottom: solid 2px #FFFFFF;
} */

.category__element:hover{
    border-top: solid 2px #FFFFFF;
    border-bottom: solid 2px #FFFFFF;
} 


.section-3{
    grid-area: section-3;
}



#footer{
    height: 10%;
    border-top: 2px #ffffff5c dashed;
  

    display: flex;

    padding: 0 8%;

    justify-content: space-between;
    align-items: center;
  
}

.info{
    width: 862px;
    display: flex;
    justify-content:space-between;
    
}
.social{
    width: 181px;
    display: flex;
    justify-content:space-between;

    gap: 10%;

}



.option{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Mont-R';
    font-size: 15px;
    width: 160px;
    text-align: center;
}

.social__option{
    width: auto;
}


@media screen and (min-width:1441px){
    body{
        
        height: 100vh;
        width: 100vw;
        background-size: 110% 80%;

    }


    .info{
        width: 70%;

    }


    .social{
        width: 30%;
        display: flex;
        justify-content:flex-end;
    
    }

}





