@font-face {
    font-family: 'Bebas N';
    src: url('../Fonts/Bebas_Neue/BebasNeue-Regular.ttf')format("woff");
}
@font-face {
    font-family: 'Mont-R';
    src: url('../Fonts/Montserrat/Montserrat-Light.ttf')format("woff");
}
@font-face {
    font-family: 'Mont-B';
    src: url('../Fonts/Montserrat/Montserrat-Bold.ttf')format("woff");
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar{
    display: none;
}

body{
    background-color: #0A0501;
    height: 900px;
    width: 1440px;
    background-image: url(../Images/Degrade.svg);
    background-repeat: no-repeat;

}

#header{
    background-color: #FFFFFF;
    height: 10%;
    display: flex;
    padding: 0 10%;
}

.nav{
    position: relative;
    margin: auto;
    width: 100%;


    display: flex;
    justify-content: center;
    gap: 23%;

}
.nav__element{
    color: #0A0501;
    text-decoration: none;
    font-family: 'Mont-B';
}

#main{
    height: 80%;

    color: #FFFFFF;


    display: grid;
    grid-template-areas:
        "section-1 section-1"
        "section-1 section-1"
        "section-3 section-3";

    grid-template-rows: 1fr 1fr; /* Altura fija para las filas */
    grid-template-columns: 1fr 1fr;

}


/* ------------------------------------CARRUSEL------------------------------------------ */

#section-1{
    grid-area: section-1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrusel{
    /* background-color: aqua;  */
    width: 20%;
    height: 85vh;

}

.contenido{
    height: 90%;
    width: 300%;
    /* background-color: white; */

    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: all ease 0.5s;
}


.contenido__poster{
    height: 400px;
    filter: blur(2px);
    position: relative;
    margin: -100px;

    &:nth-child(1){
        z-index: 100;
    }
    &:nth-child(2){
        z-index: 110;
    }
    &:nth-child(3){
        z-index: 90;
    }
}


.contenido__poster.activo{
    height: 500px;
    filter: blur(0);
    transition: all 0.3s ease-in;
    z-index: 120;
}
.controls{
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.controls__left{
    background-image: url(../Icons/Arrow\ Left.svg);
    &:active{
        background-image: url(../Icons/Arrow\ Left\ 2.svg);
    }

}

.controls__right{
    background-image: url(../Icons/Arrow\ Right.svg);

    &:active{
        background-image: url(../Icons/Arrow\ Right\ 2.svg);
    }

}

.controls__left, .controls__right{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    border: none;
    background-color: transparent;
    background-size: contain;
    height: 30px;
    width: 30px;
}




 
.controls__point{
    background-color: #999999;
    height: 0.6em;
    width: 0.6em;
    border-radius: 50%;
}

.controls__point.activo{
    background-color: #b7ff1c;
    height: 0.8em;
    width: 0.8em;
}


/*-------------------------------------------------------------------------------*/

.category{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-bottom: 5px;
}

.category__element{
    color: #FFFFFF;
    font-family: 'Bebas N';
    text-decoration: none;
    font-size: 30px;
}

.category__element:hover{
    border-top: solid 2px #FFFFFF;
    border-bottom: solid 2px #FFFFFF;
} 


.section-3{
    grid-area: section-3;
}



#footer{
    height: 10%;
    border-top: 2px #ffffff5c dashed;
  

    display: flex;

    padding: 0 8%;

    justify-content: space-between;
    align-items: center;
  
}

.info{
    width: 862px;
    display: flex;
    justify-content:space-between;
    
}
.social{
    width: 181px;
    display: flex;
    justify-content:space-between;

    gap: 10%;

}



.option{
    color: #FFFFFF;
    text-decoration: none;
    font-family: 'Mont-R';
    font-size: 15px;
    width: 160px;
    text-align: center;
}

.social__option{
    width: auto;
}



/*----------------------PANTALLAS FHD----------------------------------*/


@media screen and (min-width:1441px){
    body{
        
        height: 100vh;
        width: 100vw;
        background-size: 110% 80%;

    }


    .info{
        width: 70%;

    }


    .social{
        width: 30%;
        display: flex;
        justify-content:flex-end;
    
    }




    /* CARRUSEL */

    #section-1{
        grid-area: section-1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .carrusel{
        /* background-color: aqua;  */
        width: 20%;
        height: 85vh;
    
    }
    
    .contenido{
        height: 90%;
        width: 300%;
        /* background-color: white; */
    
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        transition: all ease 0.5s;
    }
    
    
    .contenido__poster{
        height: 400px;
        filter: blur(2px);
        position: relative;
        margin: -100px;
    
        &:nth-child(1){
            z-index: 100;
        }
        &:nth-child(2){
            z-index: 110;
        }
        &:nth-child(3){
            z-index: 90;
        }
    }
    
    
    .contenido__poster.activo{
        height: 600px;
        filter: blur(0);
        transition: all 0.3s ease-in;
        z-index: 120;
    }
    .controls{
        /* background-color: bisque; */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .left{
        background-image: url(../Icons/Arrow\ Left.svg);
        &:active{
            background-image: url(../Icons/Arrow\ Left\ 2.svg);
        }
    
    }
    
    .right{
        background-image: url(../Icons/Arrow\ Right.svg);
    
        &:active{
            background-image: url(../Icons/Arrow\ Right\ 2.svg);
        }
    
    }
    
    .left, .right{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: none;
        border: none;
        background-color: transparent;
        background-size: contain;
        height: 30px;
        width: 30px;
    }
    
    
    
    
     
    .point{
        background-color: #999999;
        height: 0.6em;
        width: 0.6em;
        border-radius: 50%;
    }
    
    .point.activo{
        background-color: #b7ff1c;
        height: 0.8em;
        width: 0.8em;
    }
    

}


